[flake8]
max-line-length = 216
exclude =
    ./dbus-mqtt-grid/ext
extend-ignore:
    # E203 whitespace before ':' conflicts with black code formatting. Will be ignored in flake8
    E203
    # E402 module level import not at top of file
    E402
